.App {
  display:inline-flexbox;
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
nav{
  display: inline-flexbox;
  justify-content: right;
  padding: 5px;
  align-content: space-between;
  padding-right: 10%;
}
nav>div{
  display: inline-block;
}
nav>div>span{
  display: inline-block;
  margin-right: 15px;
  padding-bottom: 20px;
  color: #fff;
  text-decoration-line: underline;
  justify-self: center;
}
nav>div>span>a{
  display: inline-block;
  margin-right: 20px;
  color: #fff;
  text-decoration-line: none;
}
nav>div>span>a:hover{
  display: inline-block;
  margin-right: 20px;
  color: #fff;
  text-decoration-line: underline;
}
.logo{
  display: inline-block;
  color: #fff;
  text-decoration-style: double;
  margin-right: 30%;
  font-size: 12px;
}
.logo192{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: block;
}
body{
  display: inline-flexbox;
}
.image{
  display: block;
  width: 100%;
  height: 600px;
}

.footer{
  display: block;
  background: #282c34;
  color: #fff;
  height: 50px;
  padding: 15px;

}
.footer>a{
  text-decoration: none;
  color: #fff;
}
.footer>a:hover{
  text-decoration-line: underline;
}
.texte{
  color: #000;
  background: #09d3ac;
}
button{
	background: yellow;
	border-radius: 40px;
	border: none;
	height: 40px;
  width: 180px;
  margin: 10px;
}
button:hover{
  background: #282c34;
  color: #fff;
}
input, 
select {
	height: 40px;
  width: 100%;
  color: blue;
}
select{
  height: 40px;
  width: 27%;
  margin: 5px;
}
textarea{
  height: 100px;
}
.login{
  display: block;
  position: relative;
  height: 500px;
  margin-top: 8%;

}
.timer{
  height: 100px;
  justify-content: center;
  padding-top:2% ;

}
.timerjj{
  display: block;
  color: #fff;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
}
.timer-element{
 
  color: #eee;
  font-size: 250%;
  font-weight: bold;
  align-self: center;
}
.button-text{
  text-decoration: none;
  text-decoration-color: #fff;
}
.button-text:hover{
  color: #fff;
}

/************mise en forme login ***********************************/
.login{
  display: inline-flexbox;
  justify-content: center;
  align-content: center;
}
.champ-input{
  display: block;
}
/*****************************debut mise en forme pour telephone**************************/
@media (max-width:640px) {
  
  .image {
    height: 250px;
  }
  .texte{
    display: inline-flexbox;
    justify-content: center;
    height: 250px;
  }
  .timer{
    display: inline-block;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 5px;
  }
  .timer-element{   
    font-size: 80%;
    align-self: center;
  }
  input{
    width: 80%;
  }
  textarea{
    width: 89%;
  }
  selection{
    width: 89%;
  }
  ::selection{
    width: 89%;
  }
  .logo{
    display: flexbox;
    color: #fff;
    text-decoration-style: double;
    margin-right: 0%;
    font-size: 12px;
    align-content: center;
    justify-content: center;
    margin-bottom: 5px;
  }
  .logo192{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: block;
    align-self: center;
    justify-self: center;
  }
}

@media (max-width:900px) {
  
}
.dont-display{
  display: none;
  height: 1%;
}